<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AERO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AERO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AERO.My.MySettings>
            <setting name="Home" serializeAs="String">
                <value />
            </setting>
            <setting name="mailserve" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinuser" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinbaseurl" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinconfurl" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinmediaurl" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedindocsurl" serializeAs="String">
                <value />
            </setting>
            <setting name="environment" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton01" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton02" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton03" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton01name" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton02name" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton03name" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinreceivedurl" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton05" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton06" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton07" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton05name" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton06name" serializeAs="String">
                <value />
            </setting>
            <setting name="CButton07name" serializeAs="String">
                <value />
            </setting>
            <setting name="Link" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.google.com</string>
                        <string>http://www.hotmail.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NomeLink" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>google homepage</string>
                        <string>hotmail homepage</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="startupsound" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="themepresent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rootdir" serializeAs="String">
                <value />
            </setting>
            <setting name="buttprocess" serializeAs="String">
                <value />
            </setting>
            <setting name="butttext" serializeAs="String">
                <value />
            </setting>
            <setting name="savepath" serializeAs="String">
                <value />
            </setting>
            <setting name="loadeddictionary" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedrole" serializeAs="String">
                <value />
            </setting>
        </AERO.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AERO.My.MySettings>
            <setting name="backgr" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </AERO.My.MySettings>
    </applicationSettings>
</configuration>
